@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(90deg,rgba(16, 35, 55, 1) 0%, rgba(48, 76, 104, 1) 100%);
  display: grid;
  grid-template-rows: auto 1fr;
}

#home {
   min-height: 0;
  display: flex;
  align-items: center;
}

/* HEADER */

.header {
  position: sticky;
  top: 0;
}

.header-conteudo {
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  gap: 20em;
  background: linear-gradient(90deg,rgba(16, 35, 55, 1) 0%, rgba(48, 76, 104, 1) 100%);
}

.link-text {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 15px;
}

#link-text-contato {
  border: 2px solid #b4823a;
  padding: 5px 15px;
  border-radius: 10px;
}

.img-logo {
  width: 6%;
  margin: 5px 0;
}

.linha {
  width: 95%;
  margin: auto;
  border-color: rgba(255, 255, 255, 0.5);
}

/* HOME */

.conteudo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto-faby {
  width: 25%;
}