/* FOTNES IMPORATDAS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* VARIAVEIS */

:root {
  /* cor */
  --cor-primaria: #0e1e58;
  --cor-secundaria: #b4823a;
  --cor-branco: #f9f5f5;
  --cor-detalhe: #87143d;

  /* fontes */
  --fonte-titulo: 'Poppins', sans-serif;
  --font-texto: 'Lato', sans-serif;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-texto);
}

body {
  background: linear-gradient(90deg, rgba(16, 35, 55, 1) 0%, rgba(48, 76, 104, 1) 100%);
  min-height: 100vh;
  display: block;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: linear-gradient(90deg, rgba(16, 35, 55, 1) 0%, rgba(48, 76, 104, 1) 100%);
  width: 100%;
}

.header-conteudo {
  display: flex;
  justify-content: space-around;
  color: var(--cor-branco);
  align-items: center;
  gap: 20em;
}

.link-text {
  text-decoration: none;
  color: var(--cor-branco);
  font-family: var(--fonte-titulo);
  font-size: 15px;
  margin-left: 15px;
  transition: .2s;
}

.link-text:hover {
  color: var(--cor-secundaria);
}

#link-text-contato {
  border: 2px solid var(--cor-secundaria);
  padding: 5px 15px;
  border-radius: 10px;
  transition: .2s;
}

#link-text-contato:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-branco);
}

.img-logo {
  width: 80px;
  margin: 5px 0;
}

.linha {
  width: 100%;
  margin: auto;
  border-color: rgba(255, 255, 255, 0.5);
}

/* CLASSES COMUNS */

.conteudo {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0 11em;
}

.conteudo-texto {
  color: var(--cor-branco);
}

.conteudo-titulo {
  font-family: var(--fonte-titulo);
  font-size: 50px;
  font-weight: 500;
}

.linha-titulo {
  margin: 15px 0;
  border-color: rgba(255, 255, 255, 0.5);
}

.conteudo-selos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 2em;
}

.conteudo-botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 0;
  width: 45%;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 1.2em;
}

/* HOME */

#home {
  height: 100vh;
  display: flex;
  align-items: center;
}

.titulo-destaque {
  color: var(--cor-secundaria);
  font-weight: bold;
}

.conteudo-subtitulo {
  font-size: 20px;
  font-weight: bold;
}

.button i {
  padding-right: 10px;
  font-size: 25px;
}

#btn-whatsapp {
  border: 2px solid var(--cor-secundaria);
  background-color: var(--cor-secundaria);
  transition: .2s;
}

#btn-whatsapp:hover {
  color: var(--cor-primaria);
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-branco);
}

#btn-consultoria {
  border: 2px solid var(--cor-branco);
  transition: .2s;
}

#btn-consultoria:hover {
  color: var(--cor-primaria);
  border: 2px solid var(--cor-branco);
  background-color: var(--cor-branco);
}

.selos-home {
  border-radius: 15px;
  background-color: var(--cor-branco);
  color: var(--cor-detalhe);
  padding: 5px 20px;
  font-weight: bold;
}

.foto-faby {
  width: 25%;
}

/* SERVIÇOS */

#servicos {
  height: 100vh;
  background-color: var(--cor-branco);
  color: var(--cor-primaria);
}

.conteudo-servicos {
  padding: 7em 11em;
}

.servicos-texto {
  margin-bottom: 8em;
}

.servicos-titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.servicos-titulo h2 {
  font-family: var(--fonte-titulo);
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 500;
}

.servicos-titulo hr {
  margin-top: 10px;
  width: 55%;
  border: 1px solid var(--cor-primaria);
}

.conteudo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.conteudo-info p {
  margin-bottom: 10px;
  font-size: 20px;
}

.conteudo-info i {
  padding-right: 10px;
  font-size: 20px;
  color: var(--cor-secundaria);
}

.conteudo-info a {
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  background-color: var(--cor-secundaria);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;
}

.info-check {
  display: flex;
  flex-direction: column;
}

.conteudo-cards {
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 400px;
  height: 200px;
  background-color: var(--cor-branco);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  border: 1px solid #dadbdd;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

/* CONTATO */

#contato {
  height: 100vh;
  display: flex;
  align-items: center;
}

.contato-subtitulo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 2em;
}

.selos-contato {
  border-radius: 10px;
  background-color: var(--cor-branco);
  color: var(--cor-primaria);
  padding: 8px 15px;
  font-size: 20px;
}

.selos-contato i {
  color: var(--cor-detalhe);
  font-size: 20px;
  margin-right: 10px;
}

#btn-whatsapp_contato {
  width: 55%;
  padding: 15px 0;
  background-color: var(--cor-secundaria);
  transition: .2s;
  margin: 0 auto;
}

#btn-whatsapp_contato:hover {
  color: var(--cor-primaria);
  background-color: var(--cor-branco);
}

.formulario {
  background: var(--cor-branco);
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  border-radius: 15px;
  color: var(--cor-primaria);
  width: 700px;
  margin-left: 50px;
}

.formulario h2 {
  font-family: var(--fonte-titulo);
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  padding: 0 50px;
}

.form-group label {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.form-group input, .form-group textarea {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--cor-primaria);
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.form-group button {
  color: var(--cor-branco);
  background-color: var(--cor-primaria);
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  transition: .2s;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.form-group button:hover {
  background-color: var(--cor-secundaria);
}

/* DEPOIMENTO */

#depoimento {
  height: 100vh;
  background-color: var(--cor-branco);
  color: var(--cor-primaria);
}

.depoimento-conteudo {
  padding: 7em 11em;
}

.depoimento-conteudo h1 {
  text-align: center;
  margin-bottom: 3em;
}

.depoimento-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-xp {
  border: 2px solid #dadbdd;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 2%;
  border-radius: 15px;
  position: relative;
}

.cards-xp::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;

  border-top: 50px solid var(--cor-detalhe);
  border-left: 50px solid transparent;
  
  border-top-right-radius: 15px;

  transition: .3s;
}

.cards-xp:hover::after{
  border-top: 80px solid var(--cor-detalhe);
  border-left: 80px solid transparent;
}

.cards-xp i {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--cor-secundaria);
}

.cards-xp p {
  padding: 0 30px;
  margin-bottom: 10px;
}

.depoimento-autor {
  font-size: 15px;
  margin-bottom: 20px;
}

.nota {
  text-align: center;
  font-size: 30px;
  color: var(--cor-secundaria);
}

/* MOBILE */

@media (max-width: 900px) {

  /* HEADER-MOBILE */

  .header {
    width: 100vw;
  }
  
  .header-conteudo {
    justify-content: center;
    gap: 0;
    flex-direction: column;
    text-align: center;
  }

  .header-links {
    display: flex;
    flex-direction: column;
    display: none;
  }

  .link-text {
    margin-left: 0;
  }

  /* HOME-MOBILE */

  .conteudo {
    flex-direction: column-reverse;
    text-align: center;
    padding: 4em 1em;
    gap: 0;
  }

  .conteudo-titulo {
    font-size: 20px;
  }

  .button {
    font-size: 10px;
    width: auto;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  .button i {
    font-size: 11px;
    padding-right: 5px;
  }

  .conteudo-selos {
    flex-direction: column;
  }

  .selos-home {
    font-size: 12px;
  }

  /* SERVIÇOS-MOBILE */

  #servicos {
    height: auto;
  }

  .conteudo-servicos {
    padding: 1em 1em;
  }

  .servicos-titulo {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .servicos-titulo h2 {
    text-align: center;
    margin: 0;
  }

  .servicos-titulo hr {
    width: 95%;
  }

  .conteudo-info a {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .conteudo-cards {
    flex-wrap: wrap;
  }

  .cards {
    margin-bottom: 20px;
  }

  /* CONTATO-MOBILE */

  #contato {
    height: auto;
  }

  .conteudo-botoes {
    flex-direction: column;
  }

  .conteudo-info {
    display: flex;
    flex-direction: column;
  }

  .formulario {
    width: 80vw;
    margin: 0;
    text-align: left;
  }

  .form-group button {
    padding: 0;
  }

  /* DEPOIMENTOS-MOBILE */

  #depoimento {
    height: auto;
  }

  .depoimento-conteudo {
    padding: 1em 1em;
  }

  .depoimento-conteudo h1 {
    margin: 1em 0;
  }

  .depoimento-card {
    flex-wrap: wrap;
  }

  .cards-xp {
    width: auto;
    margin-bottom: 10px;
    padding: 1.5em;
  }

  .cards-xp:hover::after{
  border-top: 50px solid var(--cor-detalhe);
  border-left: 50px solid transparent;
}

}